.contentmain {
    /* background: url(https://images.unsplash.com/photo-1586191582151-f73872dfd183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxNzA4Mjc2fHxlbnwwfHx8fA%3D%3D&w=1000&q=80) center center/cover no-repeat; */
    background-color: #7892aa;
    opacity: 1;
    height: 100vh;
    display: flex;
}


.logincontent {
    position: static;
    background-color: rgb(198, 197, 197);
    width: 100%;
    height: fit-content;
    margin: 5%;
    padding: 1%;
}

.login{

}