img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.content-main {
    background: url(https://media.istockphoto.com/vectors/rodent-pet-seamless-wallpaper-3-vector-id685014570?k=20&m=685014570&s=170667a&w=0&h=BSS1ZLV66OgwuY8mY4fStq8Qkqrzqd_Vp4kgJY6aB_U=) center center/cover no-repeat;
    opacity: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;


}